<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <title>Stacked :: Home</title>
    <style>
        .card-img-top {
            width: 100%;
            height: 27vw;
            object-fit: cover;
        }
        .mt-auto {
          margin-top: 50px !important;
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/userhome" style="padding-right: 10px;"><img src="static/Books.png" alt="" style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(103%) contrast(103%);"> Stacked</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <form class="form-inline my-2 my-lg-0" action="{{url_for('userhomepost')}}" method="POST">
                    <input class="form-control mr-sm-2" type="text" placeholder="Title, ISBN, Author or Year" name="bookquery" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="color: white;"><i class="fas fa-search"></i> Search</button>
                </form>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button type="button" class="btn btn-light" onclick="window.location.href='/logout';"><i class="fas fa-sign-in-alt"></i> Logout</button>
                </li>
            </ul>
            </div>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid py-4">
        <div class="container">
          <h1 class="display-4">Welcome {{ user.capitalize() }}</h1>
          <p class="lead">Our collection consists of 4000+ popular books by world famous authors.</p>
        </div>
      </div>

      <h1 style="text-align: center;">Picks For You</h1><br>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="https://images-na.ssl-images-amazon.com/images/I/714GGM7WK7L.jpg" class="card-img-top" alt="Two States">
              <div class="card-body">
                <h5 class="card-title">Two States</h5>
                <h6 class="card-subtitle mb-2 text-muted">by Chetan Bhagat</h6>
                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></p>
                <a href="/book/Two%20States" class="btn btn-secondary">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQnWo4qVjH6Rml5ZHio8pbH5cELOrMra_hKcf3gXD7wFBZZp87Q" class="card-img-top" alt="I, Robot">
              <div class="card-body">
                <h5 class="card-title">I, Robot</h5>
                <h6 class="card-subtitle mb-2 text-muted">by Isaac Asimov</h6>
                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></p>
                <a href="/book/I%2C Robot" class="btn btn-secondary">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="https://images-na.ssl-images-amazon.com/images/I/81VStYnDGrL.jpg" class="card-img-top" alt="Steve Jobs">
              <div class="card-body">
                <h5 class="card-title">Steve Jobs</h5>
                <h6 class="card-subtitle mb-2 text-muted">by Walter Isaacson</h6>
                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                <a href="/book/Steve%20Jobs" class="btn btn-secondary">View</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="https://n1.sdlcdn.com/imgs/f/n/0/Half-Girlfriend-Movie-Tie-In-SDL440825474-1-f8f7e.jpg" class="card-img-top" alt="Half Girlfriend">
              <div class="card-body">
                <h5 class="card-title">Half Girlfriend</h5>
                <h6 class="card-subtitle mb-2 text-muted">by Chetan Bhagat</h6>
                <p class="card-text"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i></p>
                <a href="/book/Half%20Girlfriend" class="btn btn-secondary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
          <span class="text-muted" style="color: white !important;">&copy; Copyright <strong>Stacked</strong> 2020. All Rights Reserved</span>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>